@import url("reset.css");

@import url("fonts.css");

@import url("button.css");

body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #1A1A1A;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
	flex-grow: 1;
}

.header,
.footer {
	padding: 0px 0;
}

.header__container,
.footer__container {
	text-align: left;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgb(131, 9, 9);
	border: 1px solid grey;
	box-shadow: 0 0 3px orangered;
	color: #ead414;
	/* font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 16px; */
}

/* ============================================= */
/* =============== Navigation  ================= */
/* ============================================= */

.header__item {
	border: 1px solid #ead414;
	display: inline-flex;
	font-size: 0;
}

.header__item:hover .header__link::after {
	opacity: 1;
	visibility: visible;
}

.header__item:hover .subnav {
	opacity: 1;
	visibility: visible;
}

.header__item:not(:last-child) {
	margin-right: 10px;
}

.header__link,
.subnav__link {
	position: relative;
	font-size: 18px;
	text-transform: capitalize;
}

.header__link {
	padding: 10px 10px;
}

.header__link::after,
.subnav__link::after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 80%;
	background-color: rgb(213, 13, 33);
	opacity: 0;
	visibility: hidden;
}

.subnav {
	position: absolute;
	top: 100%;
	padding-top: 10px;
	opacity: 0;
	visibility: hidden;
}

.subnav__item {
	background-color: rgb(131, 9, 9);
}

.subnav__link::after {
	bottom: 4px;
}

.subnav__item:hover .subnav__link::after {
	opacity: 1;
	visibility: visible;
}

.subnav__link {
	padding: 10px;
	width: 100%;
}

/* ============================================= */
/* =============== Ð¡ontacts ==================== */
/* ============================================= */

.contacts {
	padding: 61px 0 102px 0;
	background-color: #FFF;
	color: rgb(131, 9, 9);
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.contacts__title {
	font-size: 28px;
	line-height: 1.21;
	margin-bottom: 31px;
	text-decoration: underline;
}

.contacts__items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.contacts__item {
	padding: 0;
	flex-basis: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	transition: background 0.3s;
}

.page_item {
	background-color: #FFF;
}


/* =================================================
-------------------- Button ------------------------
==================================================== */

.button {
	width: 100%;
	padding: 16px 40px;
	border-radius: 43px;
	font-size: 16px;
	line-height: 1.2;
	color: #FFF;
	background-color: #00B207;
	transition-property: background-color;
    transition-duration: .3s;
}

.button:hover {
	background-color: rgba(44, 116, 47, 0.95);
}

/* =================================================
-------------------- Title ------------------------
==================================================== */

.title {
	font-weight: 500;
	font-size: 24px;
}

.title--small {
	font-size: 20px;
}

.title--center {
	text-align: center;
}

input,
textarea,
select {
	border-radius: 6px;
	border: 1px solid #E6E6E6;
}

input,
select {
	padding: 14px 16px;
}

select:valid,
option {
	color: #1A1A1A;
}

textarea {
	min-height: 100px;
	padding: 14px 16px;
	resize: vertical;
}

input::placeholder,
textarea::placeholder,
select {
	line-height: 1.3;
	font-size: 16px;
	color: #999;
	transition: .2s;
}

input:focus::placeholder,
textarea:focus::placeholder {
	opacity: 0;
	transition: .2s;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
.summary__row a:focus-visible {
	outline: 1px solid #00B207;
}

/* =================================================
-------------------- Checkout ----------------------
==================================================== */

.checkout {
	padding: 32px 0 80px 0;
}

.checkout__form {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

/* =================================================
-------------------- Billing  ----------------------
==================================================== */

.form__billing {
	flex-basis: 872px;
	margin-top: 40px;
}

.form__billing .title {
	margin-bottom: 20px;
}

.form__row {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: space-between;
}

.form__row:not(:last-child) {
	margin-bottom: 16px;
}

.form__row > div {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	flex-grow: 1;
}

.form__row--input-280 > div {
	flex-basis: 280px;
}

.form__row input,
.form__row textarea {
	line-height: 1.3;
	font-size: 16px;
}

.form__row--input-428 > div {
	flex-basis: 428px;
}

.form__row-checkbox {
	margin: 20px 0 32px 0;
	padding-bottom: 32px;
	border-bottom: 1px solid #E6E6E6;
}

.checkbox__item,
.radio__item {
	display: flex;
}

.checkbox__input,
.radio__input {
	opacity: 0;
	width: 0;
	height: 0;
}

.checkbox__label,
.radio__label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.checkbox__label {
	column-gap: 8px;
	padding: 4px 2px 4px 0;
}

.checkbox__input:focus-visible +.checkbox__label,
.radio__input:focus-visible +.radio__label {
	outline: 1px solid #00B207;
}

.checkbox__input:focus-visible +.checkbox__label {
	border-radius: 6px;
}

.checkbox__label::before,
.radio__label::before {
	content: '';
	flex-shrink: 0;
	align-self: flex-start;
	width: 20px;
	height: 20px;
	border: 1px solid #CCCCCC;
	background-color: #fff;
	transition: border 0.3s;
}

.checkbox__label::before {
	border-radius: 5px;
}

.checkbox__input:hover +.checkbox__label::before,
.radio__input:hover +.radio__label::before {
	border: 1px solid #00B307;
	transition: border 0.3s;
}

.checkbox__input:checked +.checkbox__label::before {
	border: 1px solid #00B307;
}

.checkbox__input:checked +.checkbox__label::before {
	background-color: #00B207;
	background-image: url('../img/checked-arrow.svg');
	background-position: center;
	background-repeat: no-repeat;
}

/* =================================================
-------------------- Summary  ----------------------
==================================================== */

.form__summary {
	flex-basis: 424px;
	align-self: flex-start;
	padding: 24px;
	margin-top: 40px;
	border-radius: 8px;
	border: 1px solid #E6E6E6;
}

.form__summary > *:not(:last-child) {
	margin-bottom: 24px;
}

.summary__added-items > *:not(:last-child) {
	margin-bottom: 12px;
}

.summary__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 15px;
}

.summary__item strong {
	font-weight: 500;
}

.summary__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 8px;
}

.summary__row:not(:last-child) {
	margin-bottom: 2px;
}

.summary__row input {
	width: 40px;
	height: 22px;
	margin-left: -2px;
	padding: 0;
	border: none;
}

.summary__row input:focus {
	border-radius: 0px;
}

.summary__row:hover img {
	transform: scale(1.03);
	transition: .3s;
}

.summary__image-thumbnail {
	width: 60px;
	height: 60px;
}

.summary__image-thumbnail:hover img {
	box-shadow: 0px 0px 1px 0px rgba(32, 181, 38, 0.32);
}

.summary__link:hover {
	text-decoration: underline;
}

.summary__details > *:not(:last-child) {
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #E6E6E6;
}

.summary__details p,
.radio__label {
	color: #4D4D4D;
}

.total span {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}

.summary__payment .title {
	margin-bottom: 16px;
}

.summary__item-radio > *:not(:last-child) {
	margin-bottom: 11px;
}

.radio__label {
	position: relative;
	column-gap: 6px;
}

.radio__label::before {
	border-radius: 50%;
}

.radio__input:checked +.radio__label::before {
	border: none;
	box-shadow: inset 0 0 0 1.5px #00B307;
    transition: border .01s;
}

.radio__input:checked +.radio__label::after {
	position: absolute;
	left: 4px;
	top: 4px;
	content: '';
	flex-shrink: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #00B307;
}

/* ============================================= */
/* =============== FOOTER ====================== */
/* ============================================= */

.footer {
	align-items: flex-end;
	/* position: fixed; */
	bottom: 0;
	width: 100%;
	max-width: 100%;
	height: 60px;
	box-sizing: border-box;
	background-color: rgb(131, 9, 9);
	border: 1px solid rgb(243, 191, 4);
	box-shadow: 3px;
}

.footer__title {
	padding: 5px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 32px;
	color:rgb(243, 191, 4);
}
